{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') + '?' + cache_id }}"
/>
{% endblock %} {% block body%}
<header>
  <section class="logo container">
    <img
      src="{{ url_for('static', filename='images/site/favicon-big.svg') }}"
      alt="favicon"
      id="favicon"
    />
    <img
      src="{{ url_for('static', filename='images/site/logo-big.svg') }}"
      alt="logo"
      id="logo"
    />
  </section>
  <div id="seperator"></div>
  <section class="header-nav container flex-row">
    <div class="product-nav flex-row">
      <i class="fa-solid fa-bars"></i>
      <span>Categories</span>
    </div>
    <!-- Search bar -->
    <div class="search-div">
      <input
        type="text"
        name="search"
        class="search"
        placeholder="Search products"
      />
      <button class="search">SEARCH</button>
    </div>
    <!-- Navigation icons -->
    <div class="nav-icons flex-row">
      <div class="user">
        <span id="user-name">Hello, John</span>
        <i class="fa-regular fa-user fa-lg icon"></i>
        <!-- Profile menu -->
        <div class="profile-menu">
          <ul>
            <li>
              <a href="#"> Profile</a>
            </li>
            <li>
              <a href="#"> Orders</a>
            </li>
            <li>
              <a href="#"> Saved Items</a>
            </li>
            <li>
              <a href="#"> Log Out</a>
            </li>
          </ul>
        </div>
      </div>
      <i class="fa-regular fa-bell fa-lg icon"></i>
      <!-- Notification menu -->
      <div class="notification-menu">
        <div class="notification-options flex-row">
          <div>Mark all as read</div>
          <a href="#">View all</a>
        </div>
      </div>
      <i class="fa-solid fa-cart-shopping fa-lg icon"></i>
    </div>
  </section>
</header>
<div class="container">
  <section class="banner-categories">
    <article class="categories"></article>
    <article class="banner"></article>
    <aside class="cart-saved"></aside>
  </section>
  <section class="products">
    <div class="christmas"></div>
    <div class="trending"></div>
    <div class="fashion"></div>
    <div class="budget"></div>
  </section>
</div>
<footer>
  <section class="footer-nav container flex-row">
    <div class="socials flex-row">
      Stay in touch with us
      <i class="fa-brands fa-twitter fa-lg icon"></i>
      <i class="fa-brands fa-instagram fa-lg icon"></i>
      <i class="fa-brands fa-facebook fa-lg icon"></i>
    </div>
    <div class="nav flex-row">
      <a href="#">ABOUT US</a>
      <a href="#">CONTACT US</a>
      <a href="#">SELL ON SOKO</a>
      <a href="#">FAQ</a>
    </div>
  </section>
</footer>
{% endblock %}
