{% extends "profile.html" %} {% block dashboard_content %} {# Notifications
section #}
<section class="notifications-container">
  <h3 class="dashboard-section-header">Notifications</h3>
  <i
    class="fa-solid fa-chevron-down dashboard-content-icon dashboard-filter-toggle"
  ></i>
  <ul class="notifications-filters dashboard-filters">
    <li id="all-notifications">All</li>
    <li id="read-notifications">Read</li>
    <li id="unread-notifications">Unread</li>
  </ul>
  <a href="javascript:void(0)" id="mark-all-as-read">Mark all as read</a>

  <div class="notifications box-shadow">
    <article class="notification" status="unread" data-id="">
      <p class="notification-content unread">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="unread" data-id="">
      <p class="notification-content unread">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="unread" data-id="">
      <p class="notification-content unread">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
    <article class="notification" status="read" data-id="">
      <p class="notification-content read">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum,
        voluptate, dignissimos tempore illo earum distinctio a veniam et iste
        omnis hic recusandae consectetur voluptatibus unde corporis quaerat, qui
        aperiam perspiciatis?
      </p>
      <i class="fa-solid fa-ellipsis notification-options-toggle"></i>
      <ul class="notification-options-pop-up box-shadow">
        <li class="mark-read"><i class="fa-solid fa-check"></i>Mark read</li>
        <li class="delete-notification">
          <i class="fa-solid fa-trash-can"></i>Delete
        </li>
      </ul>
    </article>
  </div>
</section>
{% endblock %}
