@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  min-width: 900px;
}
/* Container to hold and center items */
.container {
  max-width: 1000px;
  margin: auto;
}
/* Header and footer common styles */
header,
footer {
  width: 100%;
  background: #26415f;
  color: #fff;
}

header {
  position: sticky;
  top: 0;
}
/* Flex row common class properties */
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-nav,
.footer-nav {
  max-width: 1000px;
  padding-right: 10px;
  padding-left: 20px;
}

.header-nav {
  height: 70px;
}
.logo {
  height: 75px;
  padding: 10px 0 10px 20px;
}

/* Logo */
#logo {
  width: 200px;
  height: 51px;
}
#favicon {
  width: 48px;
  height: 54px;
}

#seperator {
  width: 100%;
  border: 1px solid #cdd2d8;
}

/* Navigation section */
.header-nav span {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Burger menu for categories */
.product-nav {
  height: 100%;
  width: 120px;
}
.fa-bars + span {
  font-weight: 500;
  font-size: larger;
  /* margin-left: 5px; */
}

/* Search bar */
.search-div {
  height: 40px;
}
.search {
  height: 100%;
  border-radius: 4px;
}
input.search {
  width: 450px;
  padding-left: 5%;
  padding-right: 5%;
}
/* Search div responsives */

@media only screen and (max-width: 1000px) {
  input.search {
    width: 350px;
  }
}
input.search:focus {
  outline: 1px solid #cdd2d8;
}
button.search {
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
button {
  background: #fc870b;
  font-weight: 600;
  color: #fff;
}
button:hover {
  background: #d37e30;
}

/* Navigation Icons */

.nav-icons {
  width: 300px;
  height: 100%;
  position: relative;
}
.nav-icons a {
  height: 100%;
  text-decoration: none;
  color: #26415f;
}
.nav-icons a:hover {
  color: #315985;
}
.nav-icons li {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  padding: 5px 0 0 10px;
  line-height: 20px;
  cursor: pointer;
}
.nav-icons li:hover {
  background: #cdd2d8;
}

#user-name {
  margin-right: 20px;
}
.user {
  position: relative;
}
.profile-menu {
  width: 150px;
  height: 150px;
  display: none;
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.notification-menu {
  width: 250px;
  min-height: 150px;
  display: none;
  position: absolute;
  top: 45px;
  left: 55px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.fa-user:hover + .profile-menu,
.profile-menu:hover,
.fa-bell:hover ~ .notification-menu,
.notification-menu:hover {
  display: block;
}

.notification-options {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}
.notification-options > a,
.notification-options > div {
  cursor: pointer;
  color: #26415f;
}
.notification-options > *:hover {
  color: #315985;
}

.show {
  display: block;
}

/* Footer */
footer {
  height: 70px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  top: 78vh;
}
.socials {
  width: 270px;
}
.nav > a {
  text-decoration: none;
  color: #fff;
}
.nav {
  width: 350px;
}
.icon:hover,
.nav > a:hover {
  color: #fc870b;
}
