@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  min-width: 900px;
}

/* Container to hold and center items */
.container {
  max-width: 1200px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
}
/* Header and footer common styles */
header,
footer {
  width: 100%;
  background: #26415f;
  color: #fff;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* Flex row common class properties */
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  height: 70px;
}
.logo {
  height: 75px;
  padding: 10px 0 10px 10px;
}

/* Logo */
#logo {
  width: 200px;
  height: 51px;
}
#favicon {
  width: 48px;
  height: 54px;
}

#seperator {
  width: 100%;
  border: 1px solid #cdd2d8;
}

/* Navigation section */
/* Burger menu for categories */
.product-nav {
  height: 100%;
  width: 120px;
}
.fa-bars + span {
  font-weight: 500;
  font-size: larger;
  /* margin-left: 5px; */
}

/* Search bar */
.search-div {
  height: 40px;
}
.search {
  height: 100%;
  border-radius: 4px;
}
input.search {
  width: 450px;
  padding-left: 5%;
  padding-right: 5%;
}
/* Search div responsives */

@media only screen and (max-width: 1000px) {
  input.search {
    width: 350px;
  }
}
input.search:focus {
  outline: 1px solid #cdd2d8;
}
button.search {
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
button {
  background: #fc870b;
  font-weight: 600;
  color: #000;
  border-radius: 4px;
}
button:hover {
  background: #d37e30;
}

/* Navigation Icons */
.icon:hover,
.nav > a:hover {
  color: #fc870b;
}
.nav-icons {
  height: 100%;
  position: relative;
}
.nav-icons .user,
.nav-icons .fa-bell {
  margin-right: 60px;
}
.nav-icons a {
  height: 100%;
  text-decoration: none;
  color: #26415f;
}
.nav-icons a:hover {
  color: #315985;
}
.nav-icons li {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  padding: 5px 0 0 10px;
  line-height: 20px;
  cursor: pointer;
}
.nav-icons li:hover {
  background: #cdd2d8;
}

#user-name {
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
  vertical-align: bottom;
}
.user-icon {
  display: inline-block;
  position: relative;
}
.profile-menu {
  width: 150px;
  height: 150px;
  display: none;
  position: absolute;
  top: 18px;
  left: -65px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.notification-menu {
  width: 250px;
  min-height: 150px;
  display: none;
  position: absolute;
  top: 45px;
  left: 55px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.fa-user:hover + .profile-menu,
.profile-menu:hover,
.fa-bell:hover ~ .notification-menu,
.notification-menu:hover {
  display: block;
}

.notification-options {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

/* Content */
.content {
  margin-top: 10px;
}

/* Carousel Banner */
.banner {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  position: relative;
}
.slide,
.slide img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.slide {
  display: none;
}
/* Banner previous and next */
.prev,
.next {
  position: absolute;
  top: 45%;
  width: 32px;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #cdd2d8;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 50%;
  text-align: center;
  /* border-radius: 0 3px 3px 0; */
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
  /* border-radius: 3px 0 0 3px; */
}

.prev:hover,
.next:hover {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Banner navigation */
.thumbnails {
  text-align: center;
  position: relative;
  bottom: 70px;
}
.banner-nav {
  height: 5px;
  width: 30px;
  margin: 0 2px;
  border-radius: 8px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}
.active,
.banner-nav:hover {
  background: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Shop now button */
.shop-now-div {
  width: 100%;
  justify-content: space-around;
  position: relative;
  bottom: 90px;
}
button#shop-now {
  width: 180px;
  height: 45px;
}

/* Footer */
footer {
  height: 70px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
}
.socials {
  width: 270px;
}
.nav > a {
  text-decoration: none;
  color: #fff;
}
.nav {
  width: 350px;
}

/* Toggle classes */
.show {
  display: block;
}

.flex-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
