@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* START OF COMMON PROPERTIES */
/* Variables */
:root {
  --hover-color: #26415f;
}
body {
  min-width: 900px;
  background-color: #f4f6f8;
  color: #000;
}

/* Container to hold and center items */
.container {
  max-width: 1200px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
}
/* Header and footer common styles */
header,
footer {
  background: #26415f;
  color: #fff;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
a {
  color: #000;
}
/* Flex row common class properties */
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
button {
  width: 180px;
  height: 45px;
  background-color: #fc870b;
  font-weight: 600;
  color: #000;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
button:hover {
  background-color: #fd9f3c;
}
button:disabled {
  background-color: #d37e30;
}
/* END OF COMMON PROPERTIES */

/* START OF HEADER STYLES */
.header-nav {
  height: 70px;
}
.logo {
  height: 75px;
  padding: 10px 0 10px 10px;
}

/* Logo */
#logo {
  width: 200px;
  height: 51px;
}
#favicon {
  width: 48px;
  height: 54px;
}

#seperator {
  width: 100%;
  border: 1px solid #cdd2d8;
}

/* Navigation section */
/* Burger menu for categories */
.product-nav {
  height: 100%;
  width: 120px;
  font-weight: 500;
  font-size: larger;
  position: relative;
}
.hamburger {
  transition: transform 0.6s;
}
/* Categories pop up */
.product-nav:hover .categories {
  display: block;
}
.product-nav:hover .hamburger {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
.categories,
.subcategories {
  width: 300px;
  height: fit-content;
  display: none;
  padding: 15px 0 15px 15px;
  background: #fff;
  position: absolute;
  top: 70px;
  font-size: 16px;
  color: #000;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.categories img {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
.categories a,
.subcategories a {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.categories:has(a:hover) {
  border-bottom-right-radius: 0;
}
.categories a:hover,
.subcategories a:hover,
.categories a:has(+ .subcategories:hover) {
  color: var(--hover-color);
}
.subcategories {
  min-width: 300px;
  height: 400px;
  top: 0;
  left: 300px;
}

.categories a:hover + .subcategories,
.subcategories:hover {
  border-bottom-left-radius: 0;
  display: block;
}

/* Search bar */
.search-div {
  height: 40px;
}
.search {
  height: 100%;
  border-radius: 4px;
}
input.search {
  width: 450px;
  padding-left: 5%;
  padding-right: 5%;
}
input.search:focus {
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
}
/* Search div responsives */

@media only screen and (max-width: 1000px) {
  input.search {
    width: 350px;
  }
}
input.search:focus {
  outline: 1px solid #cdd2d8;
}
button.search {
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

/* Navigation Icons */
.icon {
  height: 70px;
  padding-top: 40px;
}
.icon:hover,
.footer-icon:hover,
.nav > a:hover,
.icon:has(+ .profile-menu:hover),
.icon:has(+ .notification-menu:hover),
.header-nav:has(.slide-cart:hover) .fa-cart-shopping {
  color: #fc870b;
}
.nav-icons {
  height: 100%;
  position: relative;
}

.nav-icons .user,
.nav-icons .fa-bell {
  margin-right: 60px;
}
.nav-icons a {
  height: 100%;
  text-decoration: none;
  color: #000;
}
.nav-icons a:hover {
  color: var(--hover-color);
}
span#login-prompt a:hover {
  color: #fc870b;
}
.nav-icons li {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  padding: 5px 0 0 10px;
  line-height: 20px;
  cursor: pointer;
}

span#login-prompt {
  margin-right: 20px;
  position: relative;
  top: 6px;
  font-weight: 600;
}
span#login-prompt a {
  color: #fff;
}
#user-name {
  display: inline-block;
  width: 115px;
  height: 70px;
  padding-top: 35px;
  margin-right: 5px;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-icon {
  display: inline-block;
  position: relative;
}
.profile-menu {
  width: 150px;
  height: 150px;
  display: none;
  position: absolute;
  top: 70px;
  left: -65px;
  color: #000;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-menu a {
  display: inline-block;
  margin-left: 5px;
  padding-bottom: 10px;
}
.profile-menu i {
  margin-right: 5px;
}
/* .profile-menu .fa-user {
  margin-left: 5px;
} */
/* .profile-menu li:first-child a {
  position: relative;
  top: 5px;
} */

.notification-menu {
  width: 250px;
  min-height: 150px;
  display: none;
  position: absolute;
  top: 70px;
  left: 55px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.fa-user:hover + .profile-menu,
.profile-menu:hover,
.fa-bell:hover ~ .notification-menu,
.notification-menu:hover {
  display: block;
}

.notification-options {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

/* Slide -cart */
.slide-cart {
  width: 0;
  height: 86vh;
  color: #000;
  font-size: 16px;
  background-color: #fff;
  position: absolute;
  top: 147px;
  right: 0;
  z-index: 2;
  transition: width 0.6s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: scroll;
}

.slide-cart > * {
  margin-left: 15px;
  margin-bottom: 20px;
}
.cart-num {
  font-size: 20px;
  margin-top: 20px;
}
.cart-item {
  display: grid;
  grid-template-columns: 200px 200px 80px;
  grid-template-rows: 100px 100px;
  column-gap: 15px;
  margin-bottom: 30px;
}
input.quantity {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #cdd2d8;
}
.cart-item h3,
.cart-item span {
  overflow: hidden;
  white-space: normal;
  font-size: 16px;
  font-weight: 600;
}
.cart-item h3 {
  justify-self: center;
}
.fa-trash-can,
.add-subtract {
  align-self: center;
  justify-self: center;
}
.add,
.subtract {
  user-select: none;
}
.cart-item i {
  color: #717171;
}

.cart-item i:hover {
  color: var(--hover-color);
}
i.fa-trash-can:hover {
  color: #bb0a1e;
}
.cart-item img {
  grid-row: 1 / -1;
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.disclaimer,
.subtotal {
  width: 500px;
}
.subtotal {
  font-weight: 600;
}
.subtotal span:first-child {
  margin-right: 300px;
}
.disclaimer {
  width: 400px;
}
.disclaimer span {
  display: inline-block;
  width: 350px;
}
.checkout {
  text-align: center;
  position: relative;
  left: 180px;
  background-image: url(../images/icons/24/checkout-black.svg);
}
nav.nav-icons:has(.fa-cart-shopping:hover) + .slide-cart,
.slide-cart:hover {
  width: 530px;
}

body:has(.slide-cart:hover) {
  overflow: hidden;
}
/* END OF HEADER STYLES */

/* START OF MAIN CONTENT */
.content {
  margin-top: 10px;
}
/* Carousel Banner */
.banner {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  position: relative;
}
.slide,
.slide img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.slide {
  display: none;
}
/* Banner previous and next */
.prev,
.next {
  position: absolute;
  top: 45%;
  width: 32px;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #cdd2d8;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 50%;
  text-align: center;
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
}

.prev:hover,
.next:hover {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Banner navigation */
.thumbnails {
  text-align: center;
  position: relative;
  bottom: 70px;
}
.banner-nav {
  height: 5px;
  width: 30px;
  margin: 0 2px;
  border-radius: 8px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}
.active,
.banner-nav:hover {
  background: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Shop now button */
.shop-now-div {
  width: 100%;
  justify-content: space-around;
  position: relative;
  bottom: 90px;
}

/* Products section */
.products h1 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.products h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.products p {
  font-size: 16px;
  font-weight: 500;
}
.landing-category {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: scroll;
  justify-content: flex-start;
}
.product {
  max-width: 270px;
  min-width: 270px;
  height: 300px;
  margin-right: 30px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: #fff;
}
.product:hover {
  color: #26415f;
}

.product:last-child {
  margin-right: 0;
}
.products img {
  width: 90%;
  height: 80%;
}

::-webkit-scrollbar {
  display: none;
}

/* END OF MAIN CONTENT */

/* START OF FOOTER SECTION */
/* Footer */
footer {
  height: 70px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: sticky;
  bottom: 0;
}
.footer-nav {
  position: relative;
}
.socials {
  width: 270px;
}
.nav > a {
  text-decoration: none;
  color: #fff;
}
.nav {
  width: 350px;
}

/* Messanger */
.messanger {
  width: 200px;
  height: 50px;
  padding: 10px 15px;
  position: absolute;
  bottom: 46px;
  right: 10px;
  z-index: 2;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  transition: width height 1s;
  color: #000;
  font-family: "Roboto", sans-serif;
}
@media only screen and (min-width: 1400px) {
  .footer-nav {
    position: static;
  }
  .messanger {
    right: 10px;
    bottom: 70px;
  }
}
.messanger-size {
  width: 450px;
  height: 500px;
}
.fa-message > span {
  display: inline-block;
  font-weight: 800;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.message-header {
  height: 40px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #717171;
}
.back-to-chat-list {
  position: relative;
  top: 3px;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}
.message-header-properties {
  border-bottom: 2px solid #cdd2d8;
}
body:has(.fa-angles-down) {
  overflow: hidden;
}
.chats {
  height: 440px;
  margin-bottom: 10px;
  display: none;
  overflow-x: hidden;
  text-overflow: clip;
  white-space: nowrap;
  overflow-y: scroll;
}
.chat {
  display: grid;
  grid-template-columns: 60px 150px 180px;
  grid-template-rows: 30px;
  gap: 5px;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 5px;
  position: relative;
}

.chat:hover {
  background-color: #cdd7e5;
}
.seller-name,
.date,
.last-message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.seller-image {
  background-color: #cdd2d8;
  border-radius: 50%;
  padding-left: 10px;
  grid-row: 1 / span 2;
}
.seller-name {
  font-weight: 800;
}
.fa-shop {
  color: #bbb;
  position: relative;
  top: 20px;
}
.date {
  justify-self: end;
}
.last-message {
  grid-column: 2 / span 2;
}
.chat-active {
  display: none;
}
.chat-history {
  width: 100%;
  height: 360px;
  overflow-x: hidden;
  text-overflow: clip;
  white-space: nowrap;
  overflow-y: scroll;
}
.customer-message-container {
  width: 250px;
  position: relative;
  left: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: flex-end;
}
.customer-message,
.seller-message {
  width: fit-content;
  max-width: 250px;
  min-height: 20px;
  padding: 8px;
  overflow: hidden;
  white-space: normal;
  height: fit-content;
  margin-bottom: 10px;
  border-radius: 8px;
  line-height: 24px;
}
.customer-message {
  background-color: #2d8af5;
  color: #f4f6f8;
}
.seller-message {
  background-color: #cdd2d8;
  color: #1f0f0f;
}

textarea#message {
  border-radius: 4px;
  border: 2px solid #cdd2d8;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  resize: none;
  padding: 5px;
}
textarea#message:focus {
  outline: none;
}

.fa-paper-plane,
.fa-face-smile {
  color: #717171;
  position: relative;
  top: -10px;
}
.fa-face-smile {
  margin-right: 10px;
}
.fa-paper-plane:hover,
.fa-face-smile:hover,
.arrow:hover,
.back-to-chat-list:hover,
.fa-ellipsis:hover {
  color: var(--hover-color);
}
.fa-ellipsis {
  margin-left: 5px;
}
.delete {
  width: 180px;
  height: 40px;
  background-color: #fff;
  color: #26415f;
  padding-top: 10px;
  padding: 10px;
  display: none;
  position: absolute;
  right: 0;
  top: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.delete:hover {
  color: #bb0a1e;
}
/* END OF FOOTER SECTION */

/* USER DASHBOARD */

/* END OF USER DASHBOARD */
