{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') + '?' + cache_id }}"
/>
{% endblock %} {% block body%}
<header>
  <img
    src="{{ url_for('static', filename='images/logo.png') }}"
    alt="logo"
    width="338px"
    ;
    height="84px"
  />
  <div id="search_div">
    <input type="text" name="search" class="search" />
    <button class="search">SEARCH</button>
  </div>

  <div class="icons">
    <i class="fa-regular fa-user"></i>
    <i class="fa-regular fa-message"></i>
    <i class="fa-regular fa-cart-shopping"></i>
    <i class="fa-solid fa-cart-shopping"></i>
    <i class="bi bi-person"></i>
  </div>
</header>
<div class="container">
  <section class="banner-categories">
    <article id="categories"></article>
    <article id="banner"></article>
    <aside class="cart-saved"></aside>
  </section>
  <section class="products">
    <article class="christmas"></article>
    <article class="trending"></article>
    <artcile class="fashion"></artcile>
    <article class="budget"></article>
  </section>
</div>
<footer></footer>
{% endblock %}
