{% extends "base.html" %}

<!-- prettier ignore -->
{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/login.css') + '?' + cache_id}}"
/>
{% endblock %}

<!-- prettier ignore -->
<!-- Reset form -->
{% block body %}
<section class="container">
  <img src="../static/images/logo.png" alt="logo" id="logo" />
  <span> SHOPPING MADE CONVENIENT</span>
  <div id="credentials">
    <form action="{{ url_for('customer_views.login') }}" method="post">
      <label for="password"> New Password </label>
      <div class="text-pwd">
        <input type="password" name="password" class="pwd" />
        <i class="fa-solid fa-eye"></i>
      </div>
      <label for="password"> Confirm Password </label>
      <div class="text-pwd">
        <input type="password" name="password" class="pwd" />
        <i class="fa-solid fa-eye"></i>
      </div>
      <button>Reset</button>
    </form>
  </div>
</section>

{% endblock %}
